<app-encabezado></app-encabezado>
<div class="row">
  <div class="col col-4">
    <div class="card" style="width: 100%">
      <div class="card-header">Entrenadores</div>
      <table class="table" border="1">
        <tbody>
          <tr
            *ngFor="
              let entrenador of entrenadores
                | slice : (page - 1) * pageSize : page * pageSize
            "
          >
            <td>{{ entrenador.nombre }} {{ entrenador.apellido }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination
        class="d-flex justify-content-center"
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="entrenadores.length"
        [boundaryLinks]="true"
        [maxSize]="3"
        [rotate]="true"
      ></ngb-pagination>
    </div>
  </div>
</div>
