<app-encabezado></app-encabezado>
<div class="row">
  <div class="col col-4">
    <div class="card" style="width: 100%">
      <div class="card-header">Entrenadores</div>
      <table class="table" border="1">
        <tbody>
          <tr *ngFor="let entrenador of entrenadores">
            <td>{{ entrenador.nombre }} {{ entrenador.apellido }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="collectionSize"
          [(page)]="page"
          [pageSize]="pageSize"
        >
        </ngb-pagination>

        <select
          class="custom-select"
          style="width: auto"
          [(ngModel)]="pageSize"
        >
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>
