<div class="container d-flex justify-content-center">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-5 col-lg-8 container">
      <div class="row">
        <div class="my-5 row">
          <h1 class="text-center">Registro Persona</h1>
        </div>

        <form
          [formGroup]="this.personaForm"
          (ngSubmit)="registrarPersona(personaForm.value)"
        >
          <div class="form-group">
            <div class="mb-3 row">
              <label for="usuario" class="col-lg-3 col-form-label"
                >Usuario</label
              >
              <div class="col-lg-9">
                <input
                  formControlName="usuario"
                  type="text"
                  class="form-control"
                  placeholder="Usuario"
                  (keyup)="aplicarTrim()"
                />
              </div>
            </div>
            <div
              class="alert alert-danger my-3"
              *ngIf="
                personaForm.get('usuario')?.hasError('required') &&
                personaForm.get('usuario')?.touched
              "
            >
              Debe ingresar un usuario para registrarse
            </div>
            <div
              class="alert alert-danger my-3"
              *ngIf="personaForm.get('usuario')?.hasError('maxlength')"
            >
              El usuario no debe exceder los 50 carácteres
            </div>
          </div>

          <div class="form-group">
            <div class="mb-3 row">
              <label for="password" class="col-lg-3 col-form-label"
                >Contraseña</label
              >
              <div class="col-lg-9">
                <input
                  formControlName="password"
                  type="password"
                  class="form-control"
                  placeholder="*********"
                />
              </div>
            </div>
            <div
              class="alert alert-danger my-3"
              *ngIf="
                personaForm.get('password')?.hasError('required') &&
                personaForm.get('password')?.touched
              "
            >
              Debe ingresar una contraseña para registrarse
            </div>
            <div
              class="alert alert-danger my-3"
              *ngIf="personaForm.get('password')?.hasError('maxlength')"
            >
              La contraseña no debe exceder los 50 carácteres
            </div>
            <div
              class="alert alert-danger my-3"
              *ngIf="personaForm.get('password')?.hasError('minlength')"
            >
              La contraseña debe tener al menos 8 carácteres
            </div>
          </div>

          <div class="form-group mb-5">
            <div class="mb-3 row">
              <label for="confirmPassword" class="col-lg-3 col-form-label"
                >Confirmar contraseña</label
              >
              <div class="col-lg-9">
                <input
                  formControlName="confirmPassword"
                  type="password"
                  class="form-control"
                  placeholder="*********"
                />
              </div>
            </div>
            <div
              class="alert alert-danger my-3"
              *ngIf="
                personaForm.get('confirmPassword')?.hasError('required') &&
                personaForm.get('confirmPassword')?.touched
              "
            >
              Debe ingresar una contraseña para registrarse
            </div>
            <div
              class="alert alert-danger my-3"
              *ngIf="personaForm.get('confirmPassword')?.hasError('maxlength')"
            >
              La contraseña no debe exceder los 50 carácteres
            </div>
            <div
              class="alert alert-danger my-3"
              *ngIf="personaForm.get('confirmPassword')?.hasError('minlength')"
            >
              La contraseña debe tener al menos 8 carácteres
            </div>
            <div
              class="alert alert-danger my-3"
              *ngIf="
                personaForm.get('confirmPassword')?.value !==
                personaForm.get('password')?.value
              "
            >
              Las contraseñas no coinciden
            </div>
          </div>

          <div class="col-12 text-center mt-3">
            <button
              type="submit"
              class="btn btn-primary me-3 btn-lg buttonRegistro"
              [disabled]="
                !personaForm.valid ||
                personaForm.get('confirmPassword')?.value !==
                  personaForm.get('password')?.value
              "
            >
              Registrar
            </button>
            <button
              type="button"
              class="btn btn-danger ml-3 btn-lg buttonRegistro"
              (click)="cancelarPersonaRegistro()"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
